.time-mint{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mint-display{
    font-size: calc(100% + 200%);
    font-family: 'Bebas Neue', cursive;
    padding: 20px;
    font-weight: 200;
}

.mint-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(100% + 100%);
}

.home-counter4{
    background: hsl(0 0% 100% / 0.3);
    border-radius: 30px;
	box-shadow: 0px 10px 14px -7px #000000;
}

.home-counter{
    padding: 40px;
    padding-bottom: 80px;
}

.display-counter{
    padding: 0px 40px;
    font-family: 'Bebas Neue', cursive;
}

.mint-display-timer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mint-day{
    font-size: calc(100% + 20%);
    padding: 0px 33px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

.home-counter3{
    text-align: center;

}

.home-mint-counter{
    font-size: calc(100% + 30%);
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

.redirect-mintpage{
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
	box-shadow: 0px 10px 14px -7px #000000;
    margin: 0px;
}

.home-mint-button{
    padding: 20px;
}

.home-mint-button2{
    font-size: calc(100% + 100%);
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}