.navbar-div5{
    display: flex;
    align-items: center;
    width: calc(100% - 90%);
}

.navbar-a{
    font-family: 'Bebas Neue', cursive;
}

.navbar-a:hover{
    color: #ffffffff;
}

.navbar-div1{
    z-index: 100;
}

.navbar-div1{
    position: fixed;
}

.navbar-img{
    width: calc(100% - 60%);
    height: calc(100% - 60%);

}

.navbar-div4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-li{
    padding: 10px;
    list-style: none;
}

.navbar-div2{
    background: hsl(0 0% 100% / 0.3);
    backdrop-filter: blur(0.5rem);
}

.navbar-div3{
    padding: 0px 20px;
}

.navbar-div6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-icon{
    padding: 10px;
}

.navbar-h{
    padding: 5px;
	font-family:Arial;
}

.navbar-icon{
    width: 30px;
    font-size: 30px;
}

.navbar-a{
    text-decoration: none;
    font-size: calc(100% + 40%);
    color: black;
}

.community-link{
    color: black;
}

.community-link:hover{
    color: #ffffffff;
}

.navbar-div8{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-a{
    font-weight: 300;
}

.icon-navbar{
    display: none;
}

.connectWallet {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:15px;
    font-family: 'Bebas Neue', cursive;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    margin: 0px;
    font-size: calc(100% + 30%);
}
.connectWallet:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.connectWallet:active {
	position:relative;
	top:1px;
}

.wrapped-text{
    white-space: no-wrap;
}

#accounts{
    flex-wrap: wrap;
    -ms-wrap-flow: wrap;
    text-overflow: ellipsis;
    width: calc(100% - 50%);
    overflow: hidden;
}

#ul-button{
    padding: 0px;
    margin: 0px;
}

.mdflex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 50%);
}

#li-button{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    position: relative;
    left: calc(100% - 80%);
}